body {
  background-color: #0b0807;
  overflow-x: hidden;
}

.header {
  width: 100vw;
}

.container {
  margin: 0px 50px;
}

.navbar-items {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .search {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      border-radius: 20px;
      height: 45px;
      width: 90%;
      outline: none;
    }
  }

  .login {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;

    button {
      background-color: #32cd32;
      color: white;
      border: none;
      font-size: 16px;
      height: 45px;
      width: 140px;
      border-radius: 20px;
    }

    .basket {
      width: 30px;
      height: 30px;
    }
  }
}

.advertise-slide-show {
  display: flex;
  height: 400px;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 20px !important; 
  }

  .first-slide {
    height: 100%;
    width: 66%;
    position: relative;
    overflow: hidden;

    .false {
      display: none;
    }

    .true {
      display: flex;
    }

    .first-slide-img1 {
      position: absolute;
    }

    .first-slide-img2 {
      position: absolute;
    }
  }

  .second-slide {
    position: relative;
    height: 100%;
    width: 34%;
    overflow: hidden;

    .second-slide-img {
      display: none;

      .active {
        display: block !important;
      }
    }
  }

  .slide-controll {
    position: absolute;
    margin-right: 12px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    width: 90px;
    display: flex;
    justify-content: space-between;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: brown;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}